/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, h1, h2, h3, h4, h5, h6, p,
 a, img, strong, ol, ul, li, fieldset, form, label, caption,
 article, aside, canvas, details, figure, figcaption, 
 footer, header, nav, section {
   background-color: white;
   font-family: sans-serif;
   margin: inherit;
   padding: 0;
   border: 0;
   vertical-align: baseline;
 }

 .nav-bar {
   display: flex;
   justify-content: space-between;
 }

 a {
   text-decoration: none;
 }

 .write-review:hover {
   border-bottom-color: pink;
   font-size: 20px;
 }

 .greeting {
    display: flex;
    /* float: right; */
 }

 .btn {
   padding: 10px;
   border: 1px solid black;
   border-radius: 5px;
   transition: 0.5s;
 }

 .login {
   border: none;
 }

 .signup {
   background-color: transparent;
   transition: 1.3s;
 }

 .signup:hover {
   background-color: white;
   color: grey;
 }

 select {
   background-color: white;
   height: 30px;
   line-height: 30px;
 }

 .session-form {
   display: flex;
   flex-direction: column;
 }

 .session-form-signup {
    display: block;
    width: 465px;
    padding: 30px;
    box-sizing: border-box;
    justify-content: center;
 }

 .signup-name {
   display: flex;
   flex-direction: row;
 }

 .signup-name li {
   list-style: none;
 }