/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  body {
    font-family: sans-serif;
  }

  h2 {
    font-weight: bold;
    font-size: 22px;
  }

  strong {
    font-size: 14px;
    font-weight: bold;
  }

  input {
    font-size: inherit;
  }

 .home-main-container {
   background-image: url(https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
   height: 600px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50%;
   display: flex;
   flex-direction: column;
 }

 .homepage-logo a {
   text-decoration: none;
   color: black;
   font-family: 'Dosis', sans-serif;
 }

 .nav-bar {
   display: flex;
   justify-content: space-around;
   background-color: transparent;
   align-content: center;
   height: 36px;
   vertical-align: baseline;
   padding-top: 30px;
   color: white;
 }

 .nav-bar-link {
   color: white;
   padding: 9px 12px 8px;
 }

 .home-inner {
   margin: auto;
   flex-direction: column;
 }

 .search-form {
   display: flex;
   min-width: 100%;
   border-radius: 3px;
   background-color: white;
 }

 .search-fields {
   display: flex;
   align-items: center;
 }
 
 .li-search {
  padding: 10px;
  box-sizing: border-box;
 }

 .search-contents {
   display: flex;
   height: auto;
   vertical-align: middle;
   margin: auto 0;
 }

 .search-contents span {
   color: #666;
   margin-right: 12px;
   font-weight: bold;
   font-size: large;
 }

 input.find {
   width: 300px;
   margin: 0;
   font-size: inherit;
 }

 input.near {
   width: 270px;
   margin: 0;
   font-size: inherit;
 }

 label input {
   border-style: none;
 }

 label span {
   background-color: white;
 }

 .search-submit {
   background-color: #d32323;
   border-radius: 0 3px 3px 0;
 }

 button.search-submit {
   border-style: none;
 }

 li {
   list-style: none;
 }

 a {
   text-decoration: none;
 }

 a.btn {
   color: white;
 }

 .link:hover {
   border-bottom: 2px solid white;
 }

 .greeting {
    display: flex;
 }

 .btn {
   padding: 10px;
   border: 1px solid black;
   border-radius: 5px;
   transition: 0.5s;
   margin: 2px;
   box-sizing: border-box;
 }

 input {
   border: 1px solid #999;
   border-radius: 3px;
   line-height: 18px;
   font-size: 14px;
   width: 100%;
   margin: 0 9px 9px 0;
   box-sizing: border-box;
   padding: 5px 9px;
 }

 li input {
   margin: 0;
   margin-bottom: 9px;
   padding: 5px 9px;
   box-sizing: border-box;
 }

 .login {
   border: none;
 }

 .signup {
   background-color: transparent;
   transition: 1.3s;
   border: 1px solid white;
   border-radius: 4px;
 }

 .signup:hover {
   background-color: white;
   color: grey;
 }

 select {
   background-color: white;
   height: 30px;
   line-height: 30px;
   width: 93px;
   margin: 5px 5px 9px 0;
   font-size: 14px;
 }

 .container-main {
   display: flex;
   flex-direction: column;
 }

 .header-wrapper {
   background-color: #d32323;
   height: 64px;
 }

 .header {
   background-color: #d32323;
   text-align: center;
   vertical-align: center;
   margin: 14px 0;
   box-sizing: border-box;
 }

 .home-logo {
    margin: 10% 0;
    display: flex;
    justify-content: space-evenly;
 }

 .logo a {
   font-family: 'Dosis', sans-serif;
   color: black;
   font-weight: bold;
   font-size: 30px;
 }

 .home-logo a {
   font-family: 'Dosis', sans-serif;
   color: black;
   font-weight: bold;
   font-size: 50px;
 }
 
 i.fa-yelp {
   /* color: #d32323; */
 }

 .session-wrapper {
   display: flex;
   justify-content: center;
   margin-top: 30px;
 }

 .session-form-wrapper {
    display: flex;
    width: 465px;
    padding: 30px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
 }

 .session-form {
   width: 300px;
   text-align: center;
   margin: auto;
 }

 div.login {
   position: relative;
   top: 35px;
 }

 .session-form-header {
   color: #d32323;
   margin-bottom: 10px;
 }

 .session-form-divider {
   color: #666;
 }

 fieldset {
   margin: 24px 0;
   border-top: 1px solid #ccc;
 }

 .divider {
   width: 20;
   padding: 0 15px;

 }

 .signup-name {
   display: flex;
   flex-direction: row;
   font-size: 14px;
 }

 .signup-name li {
   list-style: none;
   padding: 0 3px;
   box-sizing: border-box;
 }

 .form-submit {
   background-color: #d32323;
   color: white;
   font-weight: 700;
   line-height: 21px;
   height: 43px;
 }

 .form-submit-link {
   color: #999;
   font-size: 12px;
   text-align: right;
 }

 .session-form-extra {
   text-align: left;
 }

 .fineprint {
   font-size: 12px;
   color: rgb(109, 109, 109);
   margin-bottom: 12px;
   line-height: 1.5em;
 }

 .signup-fineprint {
   text-align: left;
 }

 .session-form-img {
   margin-top: 50px;
 }