/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, h1, h2, h3, h4, h5, h6, p,
 a, img, strong, ol, ul, li, fieldset, form, label, caption,
 article, aside, canvas, details, figure, figcaption, 
 footer, header, nav, section {
   background-color: white;
   font-family: sans-serif;
   margin: inherit;
   padding: 0;
   border: 0;
   vertical-align: baseline;
 }

 .homepage-logo {
   text-decoration: none;
 }

 .nav-bar {
   display: flex;
   justify-content: space-between;
 }

 a {
   text-decoration: none;
 }

 .write-review:hover {
   border-bottom-color: pink;
   font-size: 20px;
 }

 .greeting {
    display: flex;
    /* float: right; */
 }

 .btn {
   padding: 10px;
   border: 1px solid black;
   border-radius: 5px;
   transition: 0.5s;
   margin: 2px;
   box-sizing: border-box;
 }

 input {
   border: 1px solid #999;
   border-radius: 3px;
   line-height: 18px;
   font-size: 14px;
   width: 100%;
   margin: 0 9px 9px 0;
   box-sizing: border-box;
   padding: 5px 9px;
 }

 li input {
   margin: 0;
   margin-bottom: 9px;
   padding: 5px 9px;
   box-sizing: border-box;
 }

 .login {
   border: none;
 }

 .signup {
   background-color: transparent;
   transition: 1.3s;
 }

 .signup:hover {
   background-color: white;
   color: grey;
 }

 select {
   background-color: white;
   height: 30px;
   line-height: 30px;
   width: 93px;
   margin: 5px 5px 9px 0;
   font-size: 14px;
 }

 .container-main {
   display: flex;
   flex-direction: column;
 }

 .header-wrapper {
   background-color: #d32323;
   height: 64px;
 }

 .header {
   background-color: #d32323;
   text-align: center;
   vertical-align: center;
   margin: 14px 0;
   box-sizing: border-box;
 }

 .header a {
   background-color: #d32323;
   font-family: 'Dosis', sans-serif;
   color: black;
 }
 
 .signup-wrapper {
   display: flex;
   justify-content: center;
 }

 .session-form-wrapper {
    display: flex;
    width: 465px;
    padding: 30px;
    box-sizing: border-box;
    justify-content: center;
 }

 .session-form-signup {
   width: 300px;
   text-align: center;
 }

 .session-form-header {
   color: #d32323;
 }

 .session-form-divider {
   color: #666;
 }

 fieldset {
   margin: 24px 0;
   border-top: 1px solid #ccc;
 }

 .divider {
   width: 20;
   padding: 0 15px;

 }

 .signup-name {
   display: flex;
   flex-direction: row;
   font-size: 14px;
 }

 .signup-name li {
   list-style: none;
   padding: 0 3px;
   box-sizing: border-box;
 }

 .form-submit {
   background-color: #d32323;
   color: white;
   font-weight: 700;
   line-height: 21px;
   height: 43px;
 }

 .form-submit-link {
   color: #999;
   font-size: 12px;
   text-align: right;
 }

 .session-form-extra {
   text-align: left;
 }

 .fineprint {
   font-size: 12px;
   color: rgb(109, 109, 109);
   margin-bottom: 12px;
 }

 .signup-fineprint {
   text-align: left;
 }

 .session-form-img {
   margin-top: 30px;
 }