.top-container {
  background-color: #f5f5f5;
}

.title-name {
  font-size: 36px;
  font-weight: 700;
  padding-top: 6px;
  margin-bottom: 6px;
}

.title-claim i {
  color: #0073bb;
  margin: 0 5px;
}

.star-avg-rating i {
  border-radius: 5px;
  background-color: #d32323;
  color: white;
  padding: 5px;
  margin: 2px;
}

.top-header {
  display: flex;
  margin-bottom: 13px;
}

.top-header-left {
  padding-right: 30px;
}

.top-header-title {
  display: flex;
  align-items: baseline;
}

.rating-container {
  display: flex;
  align-items: baseline;
}

.avg-rating-reviews {
  display: flex;
  align-items: baseline;
}

.reviews-count {
  color: #666666;
  margin-left: 5px;
}

.rating-details {
  align-self: center;
  padding: 0 8px;
  font-size: 12px;
}

.rating-details a {
  color: #999999;
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 2px 6px;
}

.rating-details a:hover {
  background: linear-gradient(#fff, #eee);
}

.rating-details a:focus {
  background: -webkit-linear-gradient(#fff, #eee);
}

.rating-details i {
  margin-right: 4px;
}

.price-category {
  display: flex;
  position: relative;
  left: 1%;
  margin: 5px 0;
}

.top-header-right {
  align-self: center;
}

.business-page-actions {
  display: flex;
}

.business-write-review {
  display: flex;
  color: white;
  background-color: rgb(211, 35, 35);
  padding: 8px 19px;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 12px;
  border: 1px solid rgb(211, 35, 35);
}

.business-write-review:hover {
  background-color: #dc4f4f;
}

.page-options {
  display: flex;
  color: #666666;
  background-color: #ffffff;
  border: 1px solid #666666;
  border-radius: 3px;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  height: fit-content;
  margin: auto;
  font-weight: 700;
}

.page-options i {
  padding-right: 5px;
}

.page-options a {
  color: #666666;
  border-right: 1px solid #666666;
  padding: 5px 8px;
  transition: ease-in-out, width .35s ease-in-out;
}

.page-options a:hover {
  background-color: #f5f5f5;
}

.page-options a:focus {
  background-color: #e6e6e6;
}

.bookmark {
  padding: 5px 8px;
}

.bookmark:hover {
  background-color: #f5f5f5;
}

.bookmark:focus {
  background-color: #e6e6e6;
}

/* TOP SUBHEADER CSS */
.top-subheader {
  display: table;
}

.top-map-container {
  width: 33.33%;
  background-color: #ffffff;
}

.top-map {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.top-map i {
  color: #333333;
}

.top-map li {
  display: flex;
}

.address {
  font-weight: 700;
}