.business-index-content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 35px;
}

.business-index-content {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}

.businesses-list {
  width: 630px;
}

.businesses-list li {
  padding: 18px 0;
  border-top: 1px solid #e6e6e6;
  width: 100%;
}

.index-map {
  margin-left: 5%;
  margin-top: 10%;
  height: fit-content;
  position: sticky;
  top: 20px;
}

.index-map div#map {
  height: 345px;
  width: 300px;
}

/* business index item css */
.business-name a:hover {
  text-decoration: underline;
}

.business-index-content ul li h3 {
  font-weight: 700;
  width: -webkit-fill-available;
  line-height: 2;
}

.business-detail {
  text-align: right;
  font-size: 14px;
  line-height: 2;
}

.business-index-pic img{
  width: 210px;
  height: 210px;
  border-radius: 4px;
  margin-right: 20px;
}

.business-information-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.business-review-count {
  color: #666;
  font-size: 14px;
}

.business-reviews {
  margin-top: 6px;
}

/* SEARCH INDEX */
.search-query {
  margin-bottom: 20px;
}

.search-query strong{
  font-size: 16px;
}