.title-name {
  font-size: 36px;
  font-weight: 700;
}

.title-claim i {
  color: #0073bb;
}

.star-avg-rating i {
  border-radius: 5px;
  background-color: #d32323;
  color: white;
  padding: 5px;
  margin: 2px;
}