.top {
  margin-bottom: -18px;
  padding: 18px 0 24px;
  overflow: hidden;
  min-width: 990px;
  position: relative;
}

.top-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-name {
  font-size: 36px;
  font-weight: 700;
  padding-top: 6px;
  margin-bottom: 6px;
}

.title-claim i {
  color: #0073bb;
  margin: 0 5px;
}

.star-avg-rating i {
  border-radius: 5px;
  background-color: #d32323;
  color: white;
  padding: 5px;
  margin: 2px;
}

.top-header {
  display: flex;
  margin-bottom: 13px;
}

.top-header-left {
  padding-right: 30px;
}

.top-header-title {
  display: flex;
  align-items: baseline;
}

.rating-container {
  display: flex;
  align-items: baseline;
}

.avg-rating-reviews {
  display: flex;
  align-items: baseline;
}

.reviews-count {
  color: #666666;
  margin-left: 5px;
}

.rating-details {
  align-self: center;
  padding: 0 8px;
  font-size: 12px;
}

.rating-details a {
  color: #999999;
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 2px 6px;
}

.rating-details a:hover {
  background: linear-gradient(#fff, #eee);
}

.rating-details a:focus {
  background: -webkit-linear-gradient(#fff, #eee);
}

.rating-details i {
  margin-right: 4px;
}

.price-category {
  display: flex;
  position: relative;
  left: 1%;
  margin: 5px 0;
}

.top-header-right {
  align-self: center;
}

.business-page-actions {
  display: flex;
}

.business-write-review {
  display: flex;
  color: white;
  background-color: rgb(211, 35, 35);
  padding: 8px 19px;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 12px;
  border: 1px solid rgb(211, 35, 35);
}

.business-write-review:hover {
  background-color: #dc4f4f;
}

.page-options {
  display: flex;
  color: #666666;
  background-color: #ffffff;
  border: 1px solid #666666;
  border-radius: 3px;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  height: fit-content;
  margin: auto;
  font-weight: 700;
}

.page-options i {
  padding-right: 5px;
}

.page-options a {
  color: #666666;
  border-right: 1px solid #666666;
  padding: 5px 8px;
  transition: ease-in-out, width .35s ease-in-out;
}

.page-options a:hover {
  background-color: #f5f5f5;
}

.page-options a:focus {
  background-color: #e6e6e6;
}

.bookmark {
  padding: 5px 8px;
}

.bookmark:hover {
  background-color: #f5f5f5;
}

.bookmark:focus {
  background-color: #e6e6e6;
}

/* TOP SUBHEADER CSS */
.top-subheader {
  display: flex;
  width: 100%;
}

.top-subheader .top-map-container, .top-subheader .top-pics-container {
  display: table-cell;
  vertical-align: center;
}

.top-map-container {
  width: 32%;
  background-color: #ffffff;
  line-height: 1.5;
  font-size: 14px;
  box-sizing: border-box;
}

.top-map {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.top-map li {
  display: flex;
}

.address {
  font-weight: 700;
}

.map-text {
  min-height: 180px;
}

.map-text-content {
  margin: 5px;
}

.map-text-content > li {
  display: flex;
  margin-bottom: 3px;
}

.map-text-icon {
  color: rgb(102, 102, 102);
  margin-right: 5px;

}

.map-text-content i {
  /* color: rgb(102, 102, 102); */
}

.top-pics-container {
  width: 68%;
}

.map-map {
  padding-bottom: 5px;
}

.map-map div#map {
  height: 140px;
  border: 1px solid #ccc;
}

/* Top subheader pics container */
.top-pics-container {
  margin: auto;
}

.top-background {
  z-index: -1;
  position: absolute;
  top: -9999px;
  right: -9999px;
  bottom: 82px;
  left: -9999px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

.top-pics-footer {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  padding: 6px 0;
}

.pics-container {
  height: 250px;
  width: 660px;
  position: relative;
}

.pics-content {
  display: flex;
  /* align-content: center; */
  align-items: center;
}

.pic {
  /* height: 220px;
  width: 220px; */
}

.pic img {
  z-index: 1000;
  /* position: absolute; */
  /* margin: -15px; */
  width: 220px;
  height: 220px;
}

.pic-middle img {
  z-index: 1001;
  width: 250px;
  height: 250px;
  margin: 0 -15px;
  position: relative;
}