.reviews-wrapper {
  padding: 18px 15px 36px;
  width: 960px;
  margin: 0 auto;
}

/* feed header */
.feed-header-content h2 {
  color: #d32323;
  font-size: 21px;
  line-height:1.28571em;
  margin-bottom: 6px;
}

.feed-header-content h2 b {
  font-weight: normal;
  color: #333;
}

/* banner css */
.feed-banner-container {
  padding: 12px;
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
}

.feed-banner-icon i {
  color: #d32323;
}

.feed-banner-content {
  display: flex;
  
}

.feed-banner-text {
  margin: 0 6px;
}

.banner-text {
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
}

.banner-text strong {
  font-size: 12px;
}

.banner-text a:hover {
  text-decoration: underline;
}

.banner-close {
  color: #666;
}

/* REVIEW FORM ON PAGE */
.business-page-review-form {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
}

span#business-name {
  font-weight: 700;
}

.review-current-user-side {
  display: flex;
  width: 23%;
}

.review-current-user-data {
  display: flex;
  padding-right: 15px;
}

.review-current-user-pic, .review-no-user-pic {
  margin-right: 20px;
}

.review-current-user-pic i {
  color: pink;
}

.review-no-user-pic i {
  color: grey;
}

.review-form-current-user-name-location {
  line-height: 18px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.review-form-no-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.review-form-no-user i {
  color: #e6e6e6;
  margin-bottom: -15px;
}

.review-form-no-user .fa-3x {
  margin-top: -10px;
}

.review-current-user-name {
  color: #0073bb;
}

.review-form-input {
  width: 77%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-form-input a{
  margin: 0 auto;
}