.business-index-content-container {
  display: flex;
  justify-content: space-between;
}

.business-index-content {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}

.businesses-list {
  width: 630px;
}

.businesses-list li {
  padding: 18px 0;
  border-top: 1px solid #e6e6e6;
}

.index-map {
  margin-left: 5%;
  margin-top: 10%;
}

.index-map div {
  display: flex;
}

.index-map div#map {
  height: 345px;
  width: 300px;
}

/* business index item css */
.business-name a:hover {
  text-decoration: underline;
}

.business-index-content ul li h3 {
  font-weight: 700;
  width: -webkit-fill-available;
  line-height: 2;
}

.business-detail {
  text-align: right;
  font-size: 14px;
  width: -webkit-fill-available;
  line-height: 2;
}

.business-index-pic img{
  width: 210px;
  height: 210px;
  border-radius: 4px;
  margin-right: 20px;
}