.home-main-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('burger.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.home-main-top-container {
  max-width: 960px;
  margin: 0 auto;
}

.home-logo {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  text-shadow: 0px 5px 10px white, 0px -5px 10px white, 5px 0px 10px white, -5px 0px 10px white;
}

.home-logo a {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 50px;
  display: flex;
}

i.fa-yelp {
  color: #d32323;
  padding-left: 5px;
}

.homepage-logo a {
  text-decoration: none;
  color: black;
  font-family: 'Dosis', sans-serif;
}

 .home-inner {
  padding-top: 80px;
  flex-direction: column;
}

.home-inner-search-wrapper {
  margin: 5% auto 0;
  width: fit-content;
}

.home-inner-search-wrapper .search-form-wrapper {
  height: 65px;
}

.search-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 15px auto;
}

.search-links a i {
  margin-right: 6px;
}

.search-links a {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.search-links a span:hover {
  text-decoration: underline;
}

/* PHOTO CREDIT DATA */
.home-inner-cred-wrapper {
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 180px;
}

.credit-links {
  display: flex;
  flex-direction: column;
}

.credit-links a {
  font-weight: 700;
  color: white;
  align-self: center;
}

.description {
  margin-bottom: 4px;
  align-self: center;
}

.credit {
  display: flex;
  justify-content: center;
  align-self: center;
}