.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-content: center;
  height: 36px;
  vertical-align: baseline;
  padding-top: 30px;
  color: white;
}

.nav-bar-links {
  display: flex;
}

.nav-bar-link {
  color: white;
  padding: 9px 12px 8px;
}

.nav-bar-link:hover {
  border-bottom: 2px solid white;
}

.greeting {
  display: flex;
}

.greeting-notif-wrapper {
  display: flex;
  align-self: center;
}

.greeting-notif-wrapper a {
  color: white;
  margin: 5px;
}

.dropdown-content-container {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 75px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  right: 0;
  border-radius: 2px;
}

.dropdown-logout-container {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.dropdown-logout {
  margin-right: 50%;
  padding-top: 10px;
}

.dropdown-logout:hover {
  border-bottom: 1px solid #0073bb;
}

.show {
  display: block;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.dropdown-content {
  color: #0073bb;
  margin-top: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.dropdown-user-container {
  display: flex;
}

.user-pic {
  margin: 2px;
}

.user-pic i {
  background-color: #0073bb;
  padding: 2px;
}

.user-name {
  display: flex;
  font-weight: 700;
}

.user-name_first {
  margin-right: 4px;
}

.nav-bar-right {
  align-self: center;
}

.nav-bar-right button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

.nav-bar-right i {
  color: white;
}