.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-content: center;
  height: 36px;
  vertical-align: baseline;
  padding-top: 30px;
  color: white;
}

.nav-bar-links {
  display: flex;
}

.nav-bar-link {
  color: white;
  padding: 9px 12px 8px;
}

.nav-bar-link:hover {
  border-bottom: 2px solid white;
}

.greeting {
  display: flex;
}

.greeting-notif-wrapper {
  display: flex;
  align-self: center;
}

.greeting-notif-wrapper a {
  color: white;
  margin: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 75px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  right: 0;
  border-radius: 2px;
}

.show {
  display: block;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-logout {
  color: #0073bb;
  margin-top: 10px;
  padding: 12px;
}