.nav-bar-right-container i {
  color: white;
}

.nav-bar-right-container button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 6px;
}

.nav-bar-right-container button:hover {
  background-color: #333333;
  opacity: 30%;
}

.greeting {
  display: flex;
  font-weight: 700;
}

.greeting-notif-wrapper {
  display: flex;
  align-self: center;
}

#login {
  align-self: center;
}

.signup {
  margin: 0;
  padding: 9px 20px;
}

.nav-bar-link {
  margin-right: 15px;
}

.dropdown-content-container {
  display: none;
  position: absolute;
  min-width: 75px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  right: 0;
  border-radius: 2px;
}

.dropdown-logout-container {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.dropdown-logout {
  margin-right: 59%;
  padding-top: 10px;
}

.dropdown-logout:hover {
  border-bottom: 1px solid #0073bb;
}

.show {
  display: block;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.dropdown-arrow::after {
  position: relative;
  content: " ";
  left: 96px;
  bottom: 37px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #f1f1f1;
}

.dropdown-arrow {
  height: 0;
}

.dropdown-content {
  color: #0073bb;
  margin-top: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 2px;
}

.dropdown-user-container {
  display: flex;
}

.user-pic {
  margin: 2px;
}

.user-pic i {
  background-color: #0073bb;
  padding: 2px;
  border-radius: 15px;
}

.user-name {
  display: flex;
  font-weight: 700;
}

.user-name_first {
  margin-right: 4px;
}

.nav-bar-right {
  align-self: center;
}

/* NAV BAR ON REVIEW FORM */
.review-form-header {
  background-color: #d32323;
}