.review-item-container {
  display: flex;
  margin: 0 -15px;
}

.review-list-item {
  padding: 18px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}

.review-item-side-container {
  width: 23%;
}

.review-wrapper {
  width: 77%;
  padding: 0 15px;
}

/* review side content */
.review-item-reviewer-content {
  display: flex;
  padding: 0 15px;
}

.reviewer-pic {
  margin-right: 20px;
}

.reviewer-pic i {
  color: lightgray;
}

.reviewer-info-container {
  line-height: 18px;
  font-size: 14px;
}

.reviewer-name {
  font-weight: 700;
  color: #0073bb;
}

.reviewer-name:hover {
  text-decoration: underline;
}

.reviewer-location {
  font-weight: 700;
}

/* reviewer-stats */
.reviewer-stats {
  color: #666;
  font-size: 12px;
}

.reviewer-stats i {
  color: rgb(241, 92, 0);
}

.reviewer-stats i.fa-male {
  color: rgb(235, 169, 129);
}

.reviewer-stats i.fa-star {
  color: white;
  border: 1px solid rgb(241, 92, 0);
  background-color: rgb(241, 92, 0);
  padding: 1px;
  border-radius: 2px;
}

/* REVIEW RATING */
.review-rating {
  display: flex;
  margin-bottom: 12px;
}

/* rating- star */
.rating-mid {
  margin-right: 6px;
}

[class*="rating-"] {
  display: inline-block;
  background-image: url("stars.png");
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  min-width: 110px;
  padding-top: 18px;
  background-position: 0 -240px;
}
/* 23 px height of biggest stars 14px of smallest*/

#five.rating-mid {
  background-position: 0 -402px;
}

#four.rating-mid {
  background-position: 0 -366px;
}

#three.rating-mid {
  background-position: 0 -330px;
}

#two.rating-mid {
  background-position: 0 -294px;
}

#one.rating-mid {
  background-position: 0 -258px;
}

/* review time */
.created-at {
  font-size: 14px;
  color: #666;
}

.rating-small {
  width: 64px;
  padding-top: 14px;
}

/* REVIEW BODY */
.review-body {
  font-size: 14px;
}