ul.review-index-list {
  display: flex;
  flex-direction: column-reverse;
}

.review-item-container {
  display: flex;
  margin: 0 -15px;
}

.review-list-item {
  padding: 18px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}

.review-item-side-container {
  width: 23%;
}

.review-wrapper {
  width: 77%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* review side content */
.review-item-reviewer-content {
  display: flex;
  padding: 0 15px;
}

.reviewer-pic {
  margin-right: 20px;
}

.reviewer-pic i {
  color: lightgray;
}

.reviewer-info-container {
  line-height: 18px;
  font-size: 14px;
  pointer-events: none;
}

.reviewer-name {
  font-weight: 700;
  color: #0073bb;
}

.reviewer-name:hover {
  text-decoration: underline;
}

.reviewer-location {
  font-weight: 700;
}

/* reviewer-stats */
.reviewer-stats {
  color: #666;
  font-size: 12px;
}

.reviewer-stats i {
  color: rgb(241, 92, 0);
}

.reviewer-stats i.fa-male {
  color: rgb(235, 169, 129);
}

.reviewer-stats i.fa-star {
  color: white;
  border: 1px solid rgb(241, 92, 0);
  background-color: rgb(241, 92, 0);
  padding: 1px;
  border-radius: 2px;
}

/* REVIEW CONTAINER */
.review-content {
  padding: 0 12px 6px 0;
  pointer-events: none;
}

/* REVIEW RATING */
.review-rating {
  display: flex;
  margin-bottom: 12px;
}


/* review time */
.updated-at {
  font-size: 14px;
  color: #666;
  align-self: center;
  margin-left: -6px;
}

/* REVIEW BODY */
.review-body {
  font-size: 14px;
  margin-bottom: 6px;
}

/* REVIEW FOOTER */
/* footer buttons */
.review-footer-item {
  float: right;
  margin-left: 3px;
  position: relative;
}

.review-footer button, .review-footer a {
  color: #999;
}

.review-footer button.update,
.review-footer button.delete {
 font-size: 14px;
 border: 1px solid #ccc;
 border-radius: 3px;
 cursor: pointer;
}

.review-footer button.update:hover,
.review-footer button.update:hover a,
.review-footer button.delete:hover {
  color: black;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.5);
  background: linear-gradient(#fff, #eee);
  transition: all 0.6s;
}

/* footer button popup */
.review-footer-popup {
  display: none;
  position: absolute;
  bottom: 25px;
  left: -35px;;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  color: white;
  min-width: 84px;
  width: max-content;
  /* box-shadow: 2px 2px 3px #bebebe; */
  z-index: 5;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  padding: 6px 9px;
  vertical-align: middle;
  border-radius: 5px;
}

.review-footer-item:hover .review-footer-popup {
  display: flex;
}