.search-nav-bar-container {
  background-color: #d32323;
}

.search-nav-bar-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-nav-bar-item {
  display: flex;
  margin: 0 10px;
}

.search-nav-bar-container form {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}

.search-nav-bar-container form span{
  font-size: 14px;
  margin-right: 5px;
  color: #333;
}

.search-nav-bar-container input {
  width: 280px;
  padding-left: 0;
}

.search-nav-bar-container .search-submit button {
  background-color: inherit;
  margin: 0;
  padding: 7px 13px;
  border-radius: 0 4px 4px 0;
}

.search-nav-bar-container div.search-submit {
  background-color: #bd1f1f;
}

.search-nav-bar-container .search-submit:hover button.search-submit {
  background-color: #a71c1c;
}

.search-nav-bar-container form i {
  color: white;
}

/* Nav bar right greeting */
.search-nav-bar-item div.greeting {
  font-size: 13px;
}

.search-nav-bar-item div.greeting a#login {
  border: 1px solid #bd1f1f;
  border-radius: 3px;
  padding: 12px;
}

.search-nav-bar-item div.greeting a#login:hover {
  background-color: rgba(51, 51, 51, .3);
}

.search-nav-bar-item div.greeting a.signup {
  background-color: #f5f5f5;
  color: black;
  padding: 12px;
}