.search-form {
  display: flex;
  min-width: 100%;
  border-radius: 3px;
  background-color: white;
  justify-content: space-between;
}

.search-fields {
  display: flex;
  align-items: center;
}
 
.div-search {
  padding: 10px;
  box-sizing: border-box;
}

.vl {
  border-left: 1px solid rgb(214, 211, 211);
  height: 28px;
}

.search-contents {
  display: flex;
  height: auto;
  vertical-align: middle;
  margin: auto 0;
}

.search-contents span {
  color: #666;
  margin-right: 12px;
  font-weight: bold;
  font-size: large;
}

input.find {
  width: 390px;
  margin: 0;
  font-size: inherit;
}

input.near {
  width: 360px;
  margin: 0;
  font-size: inherit;
}

label input {
  border-style: none;
}

label span {
  background-color: white;
}

.search-submit {
  background-color: #d32323;
  border-radius: 0 3px 3px 0;
}

button.search-submit {
  border-style: none;
  color: white;
}

/* SEARCH ERRORS */
/* on home page */
.search-form-wrapper .search-errors-list {
  background-color: white;
  border-radius: 0 0 4px 4px;
  padding: 7px 594px 7px 68px;
  margin-top: -2px;
  width: inherit;
  position: absolute;
  border-top: 2px solid #ccc;
  color: #d32323;
  font-size: 14px;
}

/* sub nav bar when not on businesses/search */
.search-nav-bar-container .search-nav-bar-content .search-nav-bar-item .search-form-wrapper .search-errors-list {
  background-color: white;
  border-radius: 0 0 4px 4px;
  padding: 8px 396px 10px 45px;
  margin-top: -2px;
  width: inherit;
  position: absolute;
  border-top: 2px solid #ccc;
  color: #d32323;
  position: absolute;
  z-index: 3;
  box-shadow: 1px 2px 3px #ccc;
}

/* search page */
.businesses-list .search-errors-list {
  color: #d32323;
}